body{
    text-align: center;
    background-image: url("../IMAGES/pexels-sarahpictures.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:white;
    font-size: 42px;
}
button{
    background-color:#87bbf0;
    color: white;
    border: 0;
    outline: 0;
    padding: 12px 40px;
    margin-top: 5%;
    border-radius: 10px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}
button:hover{
    background-color: #6e9cca;
}
#image {
    width: 200px;
    height: 200px;
    transition: transform 0.3s ease;
    border-radius: 10px;
}
.rotate {
    transform: rotate(360deg);
    
}
.box{
    border: 1px solid #87bbf0;
    width: 300px;
    height: 370px;
    background-color:#6da2d6;
    margin: auto;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 4px 8px #87bbf0;
}
.box img{
    margin-bottom: 40px;

}
.box-Tow{
    padding-top: 30px;
    
}


